.comment {
  border-bottom: 1px solid #eee;
  padding: 10px;
  .content {
    .user-name {
      color: var(--primary-color);
      display: inline-block;
      padding-right: 10px;
      font-weight: 700;
    }
  }
  .info {
    text-align: right;
    font-size: 1.4rem;
    color: #aaa;
  }
  .action {
    .like-comment {
      display: flex;
      align-items: center;
      .reply {
        padding-left: 20px;
        flex-grow: 1;
        .rep-form {
          display: flex;
          align-items: center;

          .input-rep {
            font-size: 1.6rem;
            border: 1px solid transparent;
            border-bottom-color: #aaa;
            flex-grow: 1;
            padding: 5px 10px;
            transition-duration: 0.3s;
            &:focus {
              border-bottom-color: var(--primary-color);
            }
          }
        }
        .rep-btn {
          cursor: pointer;
          color: var(--primary-color);
          font-weight: 600;
        }
      }
    }
  }
  .child-comments {
    margin-left: 40px;
    padding-left: 10px;
    border-left: 1px solid var(--primary-color);
    .child {
      border-bottom: 1px solid #eee;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
