.change-password {
  font-size: 1.6rem;
  .title {
    color: var(--primary-color);
    text-align: center;
    margin: 10px;
  }
  input {
    font-size: 1.6rem;
    display: block;
    padding: 10px;
    border: 1px solid transparent;
    border-bottom-color: #aaa;
    transition-duration: 0.3s;
    width: 100%;
    &:hover {
      border-bottom-color: var(--primary-color);
    }
    &:focus {
      border-color: var(--primary-color);
      border-radius: 5px;
    }
    & + input {
      margin-top: 10px;
    }
    &:valid {
      color: var(--primary-color);
    }
  }
}
