.wrapper {
  font-size: 1.6rem;
  .title {
    color: var(--primary-color);
    text-align: center;
  }

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-by-id {
    .search-form {
      position: relative;
      width: 300px;
      .input {
        display: block;
        width: 100%;
        font-size: 1.8rem;
        border: 1px solid transparent;
        border-bottom-color: #ddd;
        padding: 5px 10px;
        transition-duration: 0.3s;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:hover {
          border-bottom-color: var(--primary-color);
        }
        &:focus {
          border-color: var(--primary-color);
          border-radius: 5px;
        }
      }
      .btn-search {
        position: absolute;
        top: 50%;
        right: 10px;
        translate: 0 -50%;
        height: calc(100% - 2px);
        aspect-ratio: 1;
        cursor: pointer;
        color: var(--primary-color);
        transition-duration: 0.3s;
        &:hover {
          background-color: var(--primary-color);
          color: #fff;
          border-radius: 5px;
        }
      }
    }
  }
  .posts {
    margin-top: 30px;
    .posts-table {
      width: 100%;
      .head-table {
        background-color: var(--primary-color);
        line-height: 3rem;
        color: #fff;
      }
      .post-id {
        width: 100px;
      }
      .post-title {
      }
      .post-created {
      }
      .post-author {
      }
      .post-censor {
      }
      .post-censored {
      }
      .post-action {
      }
    }
    .post {
      line-height: 2.5rem;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
