.wrapper {
  font-size: 1.6rem;
  .title {
    color: var(--primary-color);
    text-align: center;
  }

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-by-id {
    .search-form {
      position: relative;
      width: 300px;
      .input {
        display: block;
        width: 100%;
        font-size: 1.8rem;
        border: 1px solid transparent;
        border-bottom-color: #ddd;
        padding: 5px 10px;
        transition-duration: 0.3s;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:hover {
          border-bottom-color: var(--primary-color);
        }
        &:focus {
          border-color: var(--primary-color);
          border-radius: 5px;
        }
      }
      .btn-search {
        position: absolute;
        top: 50%;
        right: 10px;
        translate: 0 -50%;
      }
    }
  }
}
