.posts {
  margin-top: 30px;
  .posts-table {
    width: 100%;
    .head-table {
      background-color: var(--primary-color);
      line-height: 3rem;
      color: #fff;
    }
    .post-id {
      width: 100px;
    }
    .post-title {
    }
    .post-created {
    }
    .post-author {
    }
    .post-censor {
    }
    .post-censored {
    }
    .post-action {
    }
  }
  .post {
    line-height: 2.5rem;
    &:hover {
      background-color: #ddd;
    }
  }
}
